## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Marabba,SD,12.3500,32.1833,105.93,10,10,3.62,clear sky
1,1,Barrow,US,71.2906,-156.7887,-6.83,93,97,8.93,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,46.11,55,100,9.15,overcast clouds
3,3,Ambilobe,MG,-13.2000,49.0500,77.72,88,60,2.04,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,78.67,74,1,16.28,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >=min_temp) &
                                       (city_data_df["Max Temp"] <=max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ambilobe,MG,-13.2000,49.0500,77.72,88,60,2.04,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,78.67,74,1,16.28,light rain
5,5,Rocha,UY,-34.4833,-54.3333,78.93,44,3,11.23,clear sky
6,6,Mount Isa,AU,-20.7333,139.5000,85.77,28,50,6.91,scattered clouds
14,14,Avarua,CK,-21.2078,-159.7750,77.05,100,75,2.30,broken clouds
...,...,...,...,...,...,...,...,...,...,...
658,658,Pagudpud,PH,18.5616,120.7868,78.03,86,61,8.72,broken clouds
659,659,Mossendjo,CG,-2.9506,12.7261,86.14,55,100,4.63,overcast clouds
663,663,Buchanan,LR,5.8808,-10.0467,85.96,62,16,7.72,few clouds
665,665,El Alto,PE,-4.2714,-81.2147,75.83,65,97,4.32,overcast clouds
680,680,Teknaf,BD,20.8624,92.3058,79.74,86,8,2.93,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lon                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ambilobe,MG,-13.2000,49.0500,77.72,88,60,2.04,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,78.67,74,1,16.28,light rain
5,5,Rocha,UY,-34.4833,-54.3333,78.93,44,3,11.23,clear sky
6,6,Mount Isa,AU,-20.7333,139.5000,85.77,28,50,6.91,scattered clouds
14,14,Avarua,CK,-21.2078,-159.7750,77.05,100,75,2.30,broken clouds
...,...,...,...,...,...,...,...,...,...,...
658,658,Pagudpud,PH,18.5616,120.7868,78.03,86,61,8.72,broken clouds
659,659,Mossendjo,CG,-2.9506,12.7261,86.14,55,100,4.63,overcast clouds
663,663,Buchanan,LR,5.8808,-10.0467,85.96,62,16,7.72,few clouds
665,665,El Alto,PE,-4.2714,-81.2147,75.83,65,97,4.32,overcast clouds
680,680,Teknaf,BD,20.8624,92.3058,79.74,86,8,2.93,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lon"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
3,Ambilobe,MG,77.72,broken clouds,-13.2000,49.0500,
4,Rikitea,PF,78.67,light rain,-23.1203,-134.9692,
5,Rocha,UY,78.93,clear sky,-34.4833,-54.3333,
6,Mount Isa,AU,85.77,scattered clouds,-20.7333,139.5000,
14,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
17,Miri,MY,78.40,overcast clouds,4.4148,114.0089,
18,Kavieng,PG,82.15,overcast clouds,-2.5744,150.7967,
20,Bambous Virieux,MU,76.21,light rain,-20.3428,57.7575,
21,Arraial Do Cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,
31,Tefe,BR,85.93,overcast clouds,-3.3542,-64.7114,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lon = row["Lon"]
    params["location"] = f"{lat},{lon}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [19]:
print(params.get("key"))

AIzaSyDzvGZd5LQ-XDrQz751ITix7MKl4bS-GMs

In [22]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
3,Ambilobe,MG,77.72,broken clouds,-13.2000,49.0500,
4,Rikitea,PF,78.67,light rain,-23.1203,-134.9692,
5,Rocha,UY,78.93,clear sky,-34.4833,-54.3333,
6,Mount Isa,AU,85.77,scattered clouds,-20.7333,139.5000,
14,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,

In [9]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace()
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
3,Ambilobe,MG,77.72,broken clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
4,Rikitea,PF,78.67,light rain,-23.1203,-134.9692,People ThankYou
5,Rocha,UY,78.93,clear sky,-34.4833,-54.3333,Hotel Arrarte
6,Mount Isa,AU,85.77,scattered clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
14,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
658,Pagudpud,PH,78.03,broken clouds,18.5616,120.7868,Saud Beach Resort and Hotel - 2
659,Mossendjo,CG,86.14,overcast clouds,-2.9506,12.7261,HOTEL D'ASSISE
663,Buchanan,LR,85.96,few clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
665,El Alto,PE,75.83,overcast clouds,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
680,Teknaf,BD,79.74,clear sky,20.8624,92.3058,Forestry Guesthouse

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lon"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))